<%- include('partials/headerbl') %>
<div class="container mt-5">
  <h1 class="signupHeading">Register</h1>

  <div class="row siginupFORM ">
    <div class="col-lg-8">
      <div class="card signupCARD bg-transparent">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/gdata" method="POST">
            <div class="form-group formINPUTS">
              <label for="name">Name *</label>
              <input type="text" class="form-control" name="name" >
            </div>
            <div class="form-group formINPUTS">
              <label for="clgname">College Name *</label>
              <input type="text" class="form-control" name="clgname" >
              <!-- <input type="email" class="form-control" name=""> -->
            </div>
            <div class="form-group formINPUTS role" id="teacher" >
              <label for="gender">Gender *</label>
              <input type="text" class="form-control" name="gender" >
              <!-- <input type="text" class="form-control " name="subject"> -->
            </div>
            <div class="form-group formINPUTS role" id="student" >
              <label for="phn">Phone Number *</label>
              <input type="text" class="form-control " name="phn">
            </div>
            <button type="submit " class="btn btn-dark signupSUBMITbtn">Register</button>
          </form>

        </div>
      </div>
    </div>


  </div>
</div>

<%- include('partials/footerbl') %>
