<%- include('partials/headerbl') %>


 <div class="container landingcontainer">
   <div class="landing-content">
     <img src="images\logo.png" class="landing-headimage" alt="">
     <h1 class="landing-heading">E-classes</h1>
     <p class="landing-subheading">Without going outside, students can learn each and every subject through online classes, even sitting at home. Online classes save the time and money of travelling. Online classes offer the flexible schedule that permits students to study at their own convenience. Students can gain knowledge only by watching the videos of any subjects at any time.</p>
     <a class="btn btn-primary btn-lg landing-getstarted" href="/signup" role="button">Get started for free</a>
   </div>
 </div>


<%- include('partials/footerbl') %>
